<section>
  <main>
    <form [formGroup]="register" (ngSubmit)="onCreateAccount()">
      <div class="maindiv">
        <div>
          <h1>Sign Up</h1>
          <article>
            <p
              *ngIf="
                register.get('email')?.touched && !register.get('email')?.dirty
              "
            >
              Can't be Empty
            </p>
            <input
              type="text"
              placeholder="Email address"
              formControlName="email"
              (input)="changinClasses()"
              name="register-email"
              autocomplete="new-username"
            />
          </article>
          <article>
            <p
              *ngIf="
                register.get('password')?.touched &&
                !register.get('password')?.dirty
              "
            >
              Can't be Empty
            </p>
            <input
              type="password"
              placeholder="Password"
              formControlName="password"
              (input)="changinClasses()"
              name="register-password"
              autocomplete="new-password"
            />
          </article>
          <article>
            <p
              *ngIf="
                register.get('repeatedPassword')?.touched &&
                !register.get('repeatedPassword')?.dirty &&
                !reaptedPassword
              "
            >
              Can't be Empty
            </p>
            <p *ngIf="reaptedPassword">Password Should Match</p>
            <input
              type="password"
              placeholder="Repeat password"
              formControlName="repeatedPassword"
              (input)="changinClasses()"
            />
          </article>

          <div class="buttondiv">
            <button type="submit">Create an account</button>
            <p>
              Already have an account?<span class="login" routerLink="/login"
                >Login</span
              >
            </p>
          </div>
        </div>
      </div>
    </form>
  </main>
</section>
