<section>
  <main>
    <form [formGroup]="register" (ngSubmit)="onCreateAccount()">
      <div class="maindiv">
        <div>
          <h1>Sign Up</h1>
          <input
            type="text"
            placeholder="Email address"
            formControlName="email"
          />
          <input
            type="text"
            placeholder="Password"
            formControlName="password"
          />
          <input
            type="text"
            placeholder="Repeat password"
            formControlName="repeatedPassword"
          />
          <div class="buttondiv">
            <button type="submit">Create an account</button>
            <p>
              Already have an account?<span class="login" routerLink="/login"
                >Login</span
              >
            </p>
          </div>
        </div>
      </div>
    </form>
  </main>
</section>
