@use "three-dots" with($dot-color: white);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 400px;
  height: 340px;
  background-color: #171d2f;
  border-radius: 10px;
  .maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 5px;
      h1 {
        color: white;
        font-family: "Outfit";
        font-weight: 500;
      }
      input {
        width: 336px;
        height: 37px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid gray;
        color: white;
        font-family: "Outfit";
        font-weight: 500;
        padding-left: 15px;
        outline: none;
      }
      button {
        height: 48px;
        color: white;
        background-color: #fb4747;
        border: none;
        width: 336px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: white;
          color: black;
          transition: 0.3s;
        }
        cursor: pointer;
        font-family: "Outfit";
        font-weight: 500;
        font-size: 18px;
      }
    }
  }
}
.buttondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  .login {
    color: #fb4747;
    cursor: pointer;
    font-family: "Outfit";
    font-weight: 500;
  }
  p {
    font-family: "Outfit";
    font-weight: lighter;
    color: white;
  }
}
.formadded {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
  p {
    align-self: flex-end;
    color: #fb4747;
    margin: 0;
    font-size: 14px;
  }
}
input.ng-touched {
  border-bottom: 1px solid #fb4747 !important;
}
.email.typing,
.password.typing {
  border-bottom: 1px solid gray !important;
}
.email.empty,
.password.empty {
  border-bottom: 1px solid #fb4747 !important;
}
.testUser {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  p {
    color: white;
  }
  h1 {
    color: white;
  }
}
