h1 {
  color: white;
  margin-left: 164px;
  margin-top: 34px;
  font-family: "Outfit";
  font-weight: 300;
}
div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  margin-left: 164px;
  margin-top: 34px;
}
