@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$pureWhite: #ffffff;
$red: #fc4747;
$darkBlue: #10141e;
$semiDarkBlue: #161d2f;
$greyshBlue: #5a698f;
body {
  background-color: $darkBlue;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
